header{
	background-color: #ffffff;
	margin-bottom: 40px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
}

body{
	background-image: url("../images/concrete-texture/concrete-texture.png");
	background-repeat: repeat;
}

footer{
	clear: both;
	height: 80px;
	background-color: #666666;
	margin-top: 40px;
	border-top-style: solid;
	border-top-width: 10px;
	border-top-color:#4aaaa5;
	color: lightgray;
	text-align: center;
/*sticky footer*/
	position: sticky;
	bottom: 0;
}

.header{
	position: relative;
	width: 960px;
	height: 80px;
	margin: auto;
}

.name{
	background-color: #4aaaa5;
	padding: 0px 40px 0px 40px ;
	color: white;
	float:left;
}


.links{
	position: absolute;
	right: 0px;
	top: 40%;
	padding: 0px;
	font-size: 16px;
}

#middle{
	border:solid;
	border-color: red;
	width: 960px;
	margin: auto;
}

.maincontent{
	background-color: #ffffff;
	border-style: solid;
	border-color:#dddddd;
	width: 570px;
	float: left;
	padding: 40px;
	margin-right: 48px;
	position: relative;
}

.sidebar{
	background-color: #ffffff;
	border-style: solid;
	border-color: #dddddd;
	width:190px;
	float:left;
	padding: 30px;
}

.logo{
	width: 30%;
	height: 30%;
}